body{
    margin:0;
}
.body{
    min-height: 100vh; 
    display: block;
}
.nav{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #FAFAFA;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -8px;
    padding:15px 50px 10px 50px;
    color:#A1A1A1;
}
.left-nav a {
    text-decoration: none;
    padding-right: 10px;
    color:#A1A1A1;
}

.left-nav a:first-child{
    border-right: solid 1px #A1A1A1;
    line-height: 10px;
    font-weight: 700;
}
.left-nav a:last-child{
    border: solid 1px #A1A1A1;
    padding-left: 10px;
    border-radius: 10px;
}
.right-nav{
    text-align: right;
}
.right-nav a {
    color:#A1A1A1;
    text-decoration: none;
    padding-right: 10px;
}
.right-nav i{
    color:#A1A1A1
}
.assets{
    display: grid;
    grid-template-columns: auto auto;
}
.colorful-images{
    padding-top: 100px;
    text-align: end;
}
.colorful-images img{
    width:200px
}
.wording-texts{
    padding-top: 165px;
}
.wording-texts img{
    width: 210px;
}
.ocean-blue{
    background-color: #1473E6;
    color: #ffff;
    padding: 50px 50px 0px 50px 
}
.supercharge{
    text-align: center;
    padding-bottom: 70px ;
}
.supercharge h3{
    font-size: 22px;
}
.three-columns{
    display: grid;
    grid-template-columns: auto auto auto;
}
.three-columns h4{
    margin-top: 0;
    margin-bottom: 0;
}
.first-column{
    border-right: solid 1px #FAFAFA;
}
.second-column{
    border-right: solid 1px #FAFAFA;
    padding-left:40px;
}
.third-column{
    padding-left:40px;
}